* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("./images/ferks-guare-KEZdWfYD-ow-unsplash\ 1.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2em;
  height: 100px;
  width: 100vw;
  background-repeat: no-repeat;
}

header h1 {
  margin-bottom: 0.5em;
  font-size: 3em;
}

.menu-item {
  width: 500px;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
}
#Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

#order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data-in-menu {
  max-width: 120px;
}
.add-to-cart {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  /* align-self: center; */
  font-size: 1.6em;
}

.icon {
  /* align-self: center; */
  width: 40px;
  height: 40px;
}

.model {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.model h3 {
  font-size: 2em;
}
.flex {
  display: flex;
}
.model input {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}
.input {
  display: flex;
  margin-bottom: 0.7em;
  flex-direction: column;
}
.model button {
  align-self: stretch;
  width: 80%;
  margin: 0 auto;
  padding: 0.8em 1em;
  font-weight: bold;
  font-size: 1em;
  color: white;
  background-color: #16db99;
}
.remove {
  padding: 0.4em;
  font-weight: bold;
  opacity: 0.5;
}

/* .border{

} */

.line {
  margin-bottom: 1.5em;
  border-bottom: 2px solid black;
  align-self: stretch;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.total {
  margin: 0 auto;
}
.text {
  font-size: 1.3em;
}
#complete-order {
  margin: 0 auto;
  margin-top: 1em;
  align-self: stretch;
  justify-self: stretch;
  width: 300px;
  padding: 0.6em 1em;
  font-size: 1em;
  background-color: #16db99;
}
.price {
  /* Adding more specificity to ensure styles are applied */
  font-weight: bold;
  font-size: 1.5em;
}
.ingredients {
  margin: 0.7em 0;
}
.quantity {
  margin-left: 1.5em;
  font-weight: bold;
  font-size: 1.4em;
}
